* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 2000px;
  padding: 0 150px;
  width: 100%;
  margin: 0 auto;
}

/* Navbar Styles */

header {
  background: linear-gradient(90.33deg, #167acf 0.27%, #86c8ff 98.51%);
  /* height: 100vh; */
  padding-bottom: 70px;
}

.navbar {
  padding: 25px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.nav-icon{
  display: none;
}
.nav-icon2 {
  display: none;
  cursor: pointer;
}

.nav-icon2 img {
  width: 40px;
}

.navbar-list a {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-decoration: none;
}

.navbar-list select {
  background-color: transparent;
  border: none;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.navbar-list select option {
  background-color: #167acf;
  cursor: pointer;
}

/* Main Styles */

.main .container {
  display: flex;
  align-items: center;
}

.mainBtn{
  display: none;
}

.main-left,
.main-right {
  width: 50%;
}

.main-right img {
  width: 85%;
}

.main-right {
  display: flex;
  justify-content: flex-end;
}

.main-left {
  padding-right: 100px;
}

.main-left p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 40px;
}

.main-left h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #ffffff;
}

.main-left .btn-group {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}

/* Demo Styles */
.demo {
  background-image: url("../images/demoBack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 180px 0 90px;
  margin-top: 180px;
}

.demo-wrapper {
  margin: 0 auto;
  text-align: center;
}

.demo-wrapper h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: #ffffff;
}

.demo-wrapper form {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.demo-wrapper input {
  width: 372px;
  padding: 20px 0;
  text-indent: 24px;
  background: #ffffff;
  border-radius: 32px;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  border: none;
}

.demo-wrapper input::placeholder {
  opacity: 0.6;
}

.demo-wrapper button {
  background: #000000;
  border-radius: 32px;
  padding: 20px 56px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

/* Platform styles */
.platform {
  padding: 100px 0 300px;
}

.platform h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  color: #167acf;
  text-align: center;
  margin: 70px 0;
}

.platform-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.platform-card .card {
  background: #e0f1ff;
  border-radius: 16px;
  padding: 50px 80px 100px 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.platform-card .card h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.platform-card .card p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.platform-card .card-info {
  width: 70%;
}

/* Mobile Styles */

.mobile {
  background: #167acf;
  padding-top: 40px;
}

.mobile .container {
  display: flex;
  align-items: flex-end;
}
.mobile-img {
  width: 45%;
  display: flex;
  align-items: flex-end;
}

.mobile-wrapper {
  width: 55%;
  padding-bottom: 110px;
}

.mobile-wrapper h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
  margin-left: 80px;
}

.mobile-wrapper p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin: 60px 0;
}

.mobile-wrapper .btn-group {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 20px;
}

/* Customer Styles */

.customer {
  margin-top: 200px;
  text-align: center;
}

.customer h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 76px;
  letter-spacing: -0.02em;
  color: #3d68ff;
}
.customer-wrapper {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.customer-wrapper img {
  margin-top: 50px;
}

/* Footer styles */
.footer {
  margin-top: 200px;
  background-color: #000000;
  padding: 55px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper > div {
  width: 15%;
}

.footer-wrapper p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}

.footer-wrapper .location a,
.footer-wrapper .contact a {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.footer-wrapper .phone {
  display: flex;
  margin-bottom: 12px;
  gap: 12px;
}

.footer-wrapper .media {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 20px;
}


